header p{
  text-align: right;
}


nav > *{
  display: inline-block;
}

.container-section #about{
  width: 50%;
}

.navigation{
  list-style-type: none;
}
.navigation li{
  display: inline-block;
}
.navigation a{
  text-decoration: none;
  transition: 0.5s;
  padding: 5px;
  color: #000;
}
.navigation a:hover{
  color: #267555;
}

.align-table td{
  text-align: center;
  transition: 1s;
}
.align-table a{
  text-decoration: none;
  color: #000;
}
td img{
  height: 20%;
  width: 20%;
}

.footer_content{
  background: #267555;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footer_content li{
  list-style-type: none;
  padding-bottom: 10px;
}

.footer_content a{
  text-decoration: none;
  color: #ebf0f7;
}

.footer_year{
  text-align: center;
  color: #ebf0f7;
  padding-top: 30px;
}

.container-title{
  background: #267555;
  color: #ebf0f7;
}

.container-title >*{
  padding: 5px;
}

.container-flex{
  position: relative;
  display: flex;
  align-items: center;
}

.item{
  padding: 50px;
}


.nav-2{
  position: absolute;
  right: 0px;
}

.event_contain>*{
  margin: 10px;
}
