.image {
    position: relative;
    width: 300px;
    height: auto;  
    text-align: center;  
    padding: 15px;  
}

.image-img {
    display: block;
    width: 70%;
    object-fit: cover;  
}

.image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image-overlay-blur {
    backdrop-filter: blur(5px);
}


.image-overlay-primary {
    background: #A2B29F;
    border-radius: 20px;
}

.image-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image-overlay:hover {
    opacity: 1;
}

.image-overlay:hover > * {
    transform: translateY(0);
}

.image-title {
    font-size: 2em;
    font-weight: bold;
}

.imagedescription {
    font-size: 1.25em;
    margin-top: 0.25em;
}