.select-btn{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.select-btn a{
  text-decoration: none;

}
.toggle-btn{
  position: relative;
  width: 200px;
  padding: 10px 30px ;
  cursor: pointer;
  margin-top: 40px;
  font-size: 30px;
  background: #267555;
  color: #edf2ed;
  border: 0;
  outline: none;
  border-radius: 30px;
  transition: 0.5s;

}

.toggle-btn:hover{
  color: #267555;
  background: #edf2ed;
}
