
.btn{
    width:200px;
    padding: 10px;
    cursor: pointer;
    margin:10px;
    font-size: 30px;
    background: #798777;
    color: #F8EDE3;
    border: 0;
    outline: none;
    border-radius: 10px;
    transition: 0.5s;
}

.btn:hover{
    outline: auto #798777;
    background: #F8EDE3;
    color: #798777;
}