header p{
  text-align: right;
}


nav > *{
  display: inline-block;
}

.container-section #about{
  width: 50%;
}

.navigation{
  list-style-type: none;
}
.navigation li{
  display: inline-block;
}
.navigation a{
  text-decoration: none;
  transition: 0.5s;
  padding: 5px;
  color: #ECE9E9;
}
.navigation a:hover{
  color: #1D4C4F;
}

.align-table td{
  text-align: center;
  transition: 1s;
}
.align-table a{
  text-decoration: none;
}
td img{
  height: 20%;
  width: 20%;
}


.container-title{
  background: #267555;
  color: #ebf0f7;
}

.container-title >*{
  padding: 5px;
}

.container-flex{
  position: relative;
  display: flex;
  align-items: center;
}

.item{
  padding: 50px;
}


.nav-2{
  position: absolute;
  right: 0px;
}

.event_contain>*{
  margin: 10px;
}


.table-benefits{
  margin: 70px;
}


